*{
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: "Berlin Sans FB";
}
h1{
    background-color: #081b31;
    color: #fff;
    height: 5rem;
    line-height: 5rem;
    font-weight: lighter;
}
.choice{
    height: 165px;
    width: 165px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.choice:hover{
    opacity: 0.5;
    cursor: pointer;
    background-color: black;
}
.board{
    border-radius: 1rem;
    background-color: #081b31;
    margin-left: 590px;
    width: 350px;
    height: 200px;
}
.txt{
    color:#fff;
}
img{
    height: 150px;
    width: 150px;
    object-fit: contain;
    border-radius: 50%;
}
.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:3rem;
    margin-top: 5rem;
}
.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 3rem;
    gap: 5rem;
}
#user-score,#comp-score{
    font-size: 4rem;
    margin-top: 2rem;
    color: #fff;
}
.msg-container{
    margin-top: 5rem;
}
#msg{
    background-color: #081b31;
    color: #fff;
    padding: 1rem;
    font-size: 2rem;
    display: inline;
    border-radius: 1rem;
}